[Unit]
Description=SS
Documentation=man:ssserver

[Service]
Type=simple
ExecStart=/usr/bin/ss-server -p {{ss_port}} -k "{{ss_password}}" -m chacha20-ietf-poly1305
User={{ansible_user_id}}

[Install]
WantedBy=multi-user.target
